<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Website</title>
    <link rel="stylesheet" href="/view/css/payment.css">
    
</head>

<body>
    <main>
        <div class="centered">
            <button id="pay-btn" class="btn">PAY NOW</button>
            <script src="https://js.stripe.com/v3/"></script>
            <script>
                var stripe = Stripe('pk_test_51ItQJzSI7E28cZr7zphZj1CVQdtYpvTnBKI0q0dA9yL02GZItVGcwk9zdQyYvDxUwCKBfLU2XdbwHLx5OwHxCh6N00RzEHCVcU');
                var payBtn = document.getElementById('pay-btn');
                payBtn.addEventListener('click', function() {
                    stripe.redirectToCheckout({
                        sessionId: '<%= sessionId %>'
                    });
                });
            </script>
        </div>
    </main>
</html>